h1 {
    text-align: center;
    color: brown;
}

p {
    text-align: center;
}
body {
    background-color: rgb(247, 215, 183);
}

footer {
    text-align: center;
}

footer a {
    color: rgb(201, 46, 71);
}

.croissant-photo {
    max-width: 100%;
    display: block;
}